.about-grid {
  margin-top: 20px;
  display: grid;
  gap: 1.8rem;
  position: relative;
  z-index: 10;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five';
}

.avatar,
.summary,
.education,
.work-history,
.skills {
  padding: 20px;
}

.avatar,
.education {
  align-self: start;
}

@media (min-width: 1200px) {
  .about-grid {
    grid-template-areas:
      'one two two two'
      'three three four four'
      'five five five five';
  }
  .avatar {
    grid-area: one;
  }
  .summary {
    grid-area: two;
  }
  .work-history {
    grid-area: three;
  }
  .education {
    grid-area: four;
  }
  .skills {
    grid-area: five;
  }
}


.skill-avatar-grid {
  gap: 20px;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.headshot {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin-inline: auto;
}