.home-grid {
  margin-top: 20px;
  display: grid;
  gap: 1.8rem;
  position: relative;
  z-index: 10;
  grid-template-areas:
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
}

.new-noteworthy,
.services,
.socials,
.experience,
.technologies {
  padding: 20px;
}

@media (min-width: 1200px) {
  .home-grid {
    grid-template-areas:
      'one two two two'
      'three three three four'
      'five five six six';
  }
  .new-noteworthy {
    grid-area: two;
  }
  .services {
    grid-area: three;
  }
  .socials {
    grid-area: four;
  }
  .experience {
    grid-area: five;
  }
  .technologies {
    grid-area: six;
  }
}

.headshot {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
  margin-inline: auto;
}

.avatar-cont {
  display: flex;
  padding: 0 20px;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.project-card-grid {
  gap: 30px;
  display: grid;
}

@media (min-width: 800px) {
  .project-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.services-grid {
  gap: 20px;
  display: grid;
  place-items: center;
  justify-items: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.socials-grid {
  gap: 20px;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.experience-grid {
  gap: 40px;
  display: grid;
  place-items: center;
  margin-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.technologies-grid {
  gap: 20px;
  display: grid;
  place-items: center;
  margin: 2rem 1rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}