.desktop-nav-grid {
    display: grid;
    padding: 10px 0;
    grid-template-columns: 1fr auto 1fr;
}

.mobile-nav-grid {
    display: grid;
    padding: 10px 0;
    grid-template-columns: 80px 1fr;
}